 @import "./common.less";

 .active {
     background-color: #1C3368;
     color           : #fff !important;

 }

 .headnav {
     li {
         box-sizing: border-box;
         width     : 100px;
         padding   : 0;
         text-align: center;

         a {
             display: inline-block;
             width  : 100%;
         }
     }


 }


 .main {
     .advantge {
         p {
             margin-bottom: 0;
         }
     }

     .carousel-inner {
         img {
             height: 440px;
         }
     }

     .smallHead {
         //  text-decoration: underline;
         color         : #50C224;
         line-height   : 40px;
         border-bottom : 4px solid #50C224;
         padding-bottom: 10px;
     }

     .smalltatil {
         color: #38D88E
     }

     .loan {


         thead {
             tr {
                 th {
                     color: #6C757D;
                 }

                 button {
                     color: @colorfff;
                 }
             }
         }
     }

     .new {
         ul {
             li {
                 a {
                     span {
                         color      : #6C757D;
                         line-height: 40px;
                     }

                 }
             }
         }
     }
 }